#sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #f8f9fa;
    overflow: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px; /* Added border-radius property */
}

#main {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 100vh; 
}

#mapid { 
    height: 80%; 
    width: 95%;
    border-radius: 15px; /* Added border-radius property */
    margin-left: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

}



#loginOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

ul{
    border-bottom: 1px solid black;
}

#loginForm {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.car-btn{
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#assistCanvas {
    display: none;
    border: 1px solid black;
    margin: 0 auto;
    background: url('../img/road.jpg') no-repeat center center;
    background-size: cover; 
}

/* #mapid {
    overflow: auto; 
    margin: 10px;
} */
/* 
#listContainer {
    overflow: auto; 
} */


/* #menuButton {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
} */

/* #sidebar.show {
    transform: translateX(0);
} */